*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo Paaji 2', cursive;
    width: 100%;
    background-image:url(img/back2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 5%;
}

header{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
}

.icon{
    display: flex;
    margin-left: 5%;
    padding-top: 14px;
}

.icon_img{
    width: 35px;
    height: 35px;
    background: url(img/calendar.png);
}

.icon h3{
    color: #ffffff;
    margin-left: 1.5%;
    font-size: 20px;
}

.nav{
    display: flex;
    margin-left: 20%;
    width: 40%;
}

.nav button{
    margin-left: 30%;
    margin-right: 10%;
    height: 70px;
    outline: none;
    background: none;
    font-family: "Baloo Paaji 2", cursive;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#dash{
    border: none;
}

#plan{
    border: none;
    border-bottom: 3px solid white;
}

#dash:hover{
    background-color: transparent;
    color: gainsboro;
    cursor: pointer;
    transition-duration: 0.5s;
}

.out img{
    width: 35px;
    height: 35px;
}

.out{
    margin-top: 14px;
    position: absolute;
    right: 5%;

}
main h1{
    margin-top: 20px;
    margin-left: 32%;
    font-size: 50px;
    font-weight: bold;
    text-shadow:  white 1px 1px 0, #ffffff -1px -1px 0,
    #ffffff -1px 1px 0, white 1px -1px 0;
}

main h4{
    margin-left: 32%;
    font-size: 25px;
}

.form{
    display: block;
    margin-top: 7px;
    margin-left: 30%;
}

.form_control{
    padding: 10px 20px ;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    font-family: "Baloo Paaji 2", cursive;
    font-weight: bold;
}

main button{
    margin-top: 20px;
    margin-left: 38%;
    padding: 3px;
    width: 20%;
    border-radius: 40px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.75) ;
    font-family: "Baloo Paaji 2", cursive;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #DDE5E8;
}
button:hover{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    transition-duration: 0.7s;
}

button:active{
    position:relative;
    cursor: pointer;}

@media screen and (max-width: 975px){
    *, *:after, *:before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: .5s ease-in-out;
    }
    main h1{
        margin-left: 32%;
        font-size: 45px ;
    }

    main h4 {
        margin-left: 28%;
        font-size: 23px;
    }

    .form{
        margin-left: 25%;
    }

    .form_control{
        width: 65%;
    }

    .nav{
        width: 20%;
        margin-left: 15%;
    }

    main button{
        width: 30%;
        margin-left: 35%;
    }

}

@media screen and (max-width: 700px){
    *, *:after, *:before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: .5s ease-in-out;
    }

    main h1{
        margin-left: 30%;
        font-size: 37px ;
    }

    main h4 {
        margin-left: 33%;
        font-size: 20px;
    }

    .form{
        margin-left: 25%;
    }

    .form_control{
        width: 75%;
    }

    header{
        height: 60px;
    }

    .icon_img{
        width: 25px ;
        height: 25px;
    }

    .icon h3{
        color: #ffffff;
        margin-left: 1.5%;
        font-size: 15px;
    }

    .nav{
        margin-left: 15%;
        display: flex;
        width: 40%;
    }

    .nav button{
        height: 60px;
        font-size: 15px;
    }

    .out img{
        width: 25px;
        height: 25px;

    }

    main button{
        width: 35%;
        margin-left: 35%;
    }

}

@media screen and (max-width: 450px){
    *, *:after, *:before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: .5s ease-in-out;
    }

    main h1{
        margin-top: 55px;
        margin-left: 20%;
        font-size: 30px ;
    }

    main h4 {
        margin-left: 25%;
        font-size: 15px;
    }

    .form{
        margin-left: 20%;
    }

    .form_control{
        width: 80%;
    }

    .nav{
        margin-left: 5%;
        display: flex;
        width: 40%;
    }
    main button{
        font-size: 17px;
    }
}
